h1 {
    font-size: 2.5em;
    color: #2d3748;
    margin-bottom: 20px;
}

#menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

body {
    align-content: center;
}

button {
    background-color: #3182ce;
    color: #fff;
    font-size: 1.2em;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

button:hover {
    background-color: #63b3ed;
    transform: translateY(-3px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    button {
        font-size: 1em;
        padding: 12px 25px;
    }
}
